@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Regular.ttf?6fp3ju') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Lato;
    margin: 0px;
    min-height: 100%;
}

.mainheader {
    background: #ffd205;
}
h1{
    text-align: center;
}

button {
    background: #ffd205;
    color: #00355f;
    border: none;
    outline: none;
    min-height: 25px;
    min-width: 80px;
}

button:hover {
    background: rgb(255, 235, 146);
}

.logo {
    width: 15%;
    height: 100%;
    background-image: url("../Img/Logo3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 1%;
}

.nav {
    height: 50px;
    width: 100%;
    margin-right: 10%;
    position: relative;
}

.nav .navlist {
    float: right;
    font-size: 20px;
}

.nav .navlist li {   
    display: table-cell;
    width: 150px;
    height: 30px;
    text-align: center;
}
.nav .navlist li a{
    text-decoration: none;
     color: #00355f;
}

.nav .navlist li a:hover {
    border-bottom: 3px solid #00355f;
    transition: border-bottom 0.2s ease;
    cursor: pointer;
}

.nav .navlist .select .select {
    border-bottom: 3px solid #00355f;
    transition: border-bottom 0.5s;
}

.page-content {
    /*height: 534px;*/
    width: 100%;
    /* margin: 2px 10px; */
    /* background: aqua; */
    padding: 2px 10px;
    box-sizing: border-box;
    /*overflow: scroll;*/
    margin: auto;
    min-height: calc(100% - 127px);
}

.movingcontent {
    width: 100%;
    height: 25px;
    margin-bottom: 2px;
    overflow: hidden;
}

.home {
    position: relative;
    height: 80%;
    overflow: hidden;
}

.home .cabimages {
    width: 50%;
    height: 100%;
    float: left;
    padding: 2px 1px;
}

.home .tourimages {
    width: 50%;
    height: 100%;
    float: right;
     padding: 2px 1px;
}
.cabimages .img-display,
    .tourimages .img-display{
     transition: 0.5s;        
        display: none;
    }
.cabimages .active, .tourimages .active {
        display: block;
    }
.carousel-indicators .active{
         display: inline-block;
         background: #ffd205;
    }
    /*Carousel Component*/
.cabimages .carousel-indicators{
    text-align: center;
}
.tourimages .carousel-indicators{
    text-align: center;
}

.carousel-indicators li{
 display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    cursor: pointer;
    background-color:transparent;
    border: 1px solid #ffd205;
    border-radius: 10px;
}
.home .cabimages .image-text h1,.home .cabimages .image-text p{
text-align: left;
}
.home .tourimages .image-text h1,.home .tourimages .image-text p{
text-align: right;
}
.home .image-text
{
    transform: translateY(100px);
    transition: 1s;
    opacity: 0;
}
/*.home .image-text:hover
{
  transform: translateY(-50px);
}*/
.home .animatetext
{
    animation: animate 1s linear forwards;
}
.home .animatetextreverse {
    animation: animatereverse 0.5s linear forwards;
}
.home img {
    max-width: 100%;
    animation: imgopacity 0.5s linear;
}

@keyframes imgopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animate {
   0%
   {
        transform: translateY(50px); 
        opacity: 0;
   }
   25%
   {
        transform: translateY(30px); 
        opacity: 0;
   }
   50%
   {
        transform: translateY(-20px); 
        opacity: 30;
   }
   75%
   {
        transform: translateY(-40px); 
        opacity: 75;
   }
   100%
   {
        transform: translateY(-60px); 
        opacity: 100;
   }
}
@keyframes animatereverse {
   0%{
        transform: translateY(-60px); 
        opacity: 100;
   }
   
   25%
   {
        transform: translateY(-40px); 
        opacity: 75;
   }
  
   50%
   {
        transform: translateY(-20px); 
        opacity: 30;
   }
   75%
    {
        transform: translateY(30px); 
        opacity: 0;
   }
   
   100%
   {
        transform: translateY(50px); 
        opacity: 0;
   }
   
}
.left {
    text-align: left;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(255, 255, 0, 0));
    padding-left: 5%
}

.right {
    text-align: right;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(255, 255, 0, 0));
    padding-right: 5%
}

.home .image-text {
    position: absolute;
    top: 290px;
    color: white;
    font-size: 13px;
    width: 50%;
}

.movingcontent {
    background: #00355f;
    color: whitesmoke;
}

.movingcontent div {
    /*transform:translateX(80%); */
    /*animation: textslide 15s linear infinite;*/
    line-height: 0px;
    font-size: 14px;
}


/* Move it (define the animation) */

@-moz-keyframes textslide {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes textslide {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes textslide {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(80%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(0%);
    }
}


/*enquiryform*/

.enquiryform {
    position: absolute;
    top: 36%;
    width: 50%;
    left: 25%;
    background: rgba(9, 28, 44, 0.82);
    border-radius: 10px;
    padding-bottom: 9px;
}

.enquiryform .enquirytype {
    border-radius: 4px;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
}

.enquiryform .enquirytype div {
    width: 50%;
    float: left;
    height: 100%;
    line-height: 40px;
}

.enquiryform .enquirytype div:hover {
    color: #ffd205;
    background: #00355f;
    border-radius: 8px;
}

.enquiryform .enquirytype .select {
    color: #ffd205;
    background: #00355f;
    border-radius: 8px;
}

.enquiryform .enquirycontrol {
    padding: 5% 2%;
}

.enquiryform .enquirycontrol .control-group {
    display: block;
    width: 100%;
    margin: 25px 0;
}

.enquiryform .enquirycontrol .control-group .control {
    display: inline-block;
    width: 32%;
    padding: 0 5%;
}

.enquiryform .enquirycontrol .control-group .control input,
.enquiryform .enquirycontrol .control-group .control select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
    background: transparent;
    color: whitesmoke;
    font-size: medium;
    font-weight: 500;
}

.enquiryform .enquirycontrol .control-group .control option {
    background: #00355f;
}

.enquiryform .enquirycontrol .control-group .control input:focus {
    border-bottom: 1px solid whitesmoke;
}

.enquiryform .enquirycontrol .control-group .controlname {
    color: whitesmoke;
    font-size: small;
}

.enquiryform .enquirycontrol .control-group .inputcontrol {
    margin-top: 3%;
    position: relative;
}

.enquiryform .enquirycontrol .control-group button {
    float: right;
    margin-right: 2%;
    width: 15%;
    /*border-color: rgba(0, 13, 88, 0);*/
    border-radius: 4px;
    min-width: 65px;
}


/*.enquiryform .enquirycontrol .control-group button:hover
{
	background: #00355f;
    color: #ffd205;
}*/

.enquiryform .enquirycontrol .control-group .control .inputcontrol .error-msg {
    position: absolute;
    /* left: 60%; */
    /* float: left; */
    background: rgba(255, 14, 0, 0.65);
    /* height: 30px; */
    /* line-height: 2; */
    border-radius: 3px;
    padding: 1px 5px;
    top: 10px;
    /* word-wrap: break-word; */
    /* width: 63%; */
    min-height: 18px;
    min-width: 142%;
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}

.Error {
    color: red;
    font-size: 12px;
}

.form {
    height: 300px;
    width: 600px;
}

.cabsList {
    width: 70%;
    margin: 0 auto 40px auto;
}

.cabsList .cabs-repeat {
    border: 1px solid rgba(0, 53, 95, 0.2);
    box-shadow: 1px 2px 5px #e4e4e4;
    padding: 10px 20px 15px 20px;
    margin: auto;
    width: 100%;
    margin-bottom: 12px;
    color: #00355f;
    border-radius: 2px;
}

.cabsList .cabs-repeat .cab-details {
    overflow: hidden;
}

.cabsList .cabs-repeat .cab-details .cab-name{
    font-weight: bold;
    letter-spacing: 0.5px;
}

.cabsList .cabs-repeat .cab-details .cab-description {
    margin-top: 8px;
}

.cabsList .cabs-repeat .cab-details .cab-description>div {
    width: calc(calc(100% - 150px) / 2);
    float: left;
}

.cabsList .cabs-repeat .cab-details .cab-description>.cab-img {
    width: 150px;
    display: inline-block;
}

.cabsList .cabs-repeat .cab-details .cab-img>img {
    width: 100%;
    height: 100px;
}

.cabsList .cabs-repeat .cab-details .cab-desc {
    padding-left: 5%;
    border-right: 1px solid rgba(0, 53, 95, 0.15);
}

.cabsList .cabs-repeat .cab-details .cab-rate {
    padding-left: 5%;
}

.cabsList .cabs-repeat .cab-details .cab-rate button {
    background: #00355f;
    color: #ffd205;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.cabsList .cabs-repeat .cab-details .cab-rate button:hover {
    background: #ffd205;
    outline: none;
    color: #00355f;
}

.cabsList .cabs-repeat .cab-details .nghf::after {
    margin-left: 5px;
}

/*aboutUs*/

.aboutus {
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    height: 465px;
}

.aboutus .service {
    text-align: center;
}

.aboutus .service .content {
    width: 40%;
    height: 30%;
    background: #00355f;
    color: whitesmoke;
    transition: background 2s;
    border-radius: 4px;
    margin-left: 45px;
    float: left;
}

/*.aboutus .service .content:hover {
    background: whitesmoke;
    color: #00355f;
}*/

.aboutus .service .content .fadedown { 
    display: inline-block;
    font-size: 40px;
    opacity: 10%;
      color: #00355f;
    background: whitesmoke;
    text-align: center;
           width: 60%;
    height: 100%;
     animation-fill-mode: forwards;  
        cursor: pointer;  
             -webkit-animation: slide-in .6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation: slide-in .6s cubic-bezier(0.4, 0, 0.2, 1);
    animation: slide-in .6s cubic-bezier(0.4, 0, 0.2, 1);  
}

.aboutus .service .content .fadedown:hover {    
     -webkit-animation: slide-out .6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation: slide-out .6s cubic-bezier(0.4, 0, 0.2, 1);
    animation: slide-out .6s cubic-bezier(0.4, 0, 0.2, 1);
     animation-fill-mode: forwards;  
        cursor: pointer;    
   
}

@-webkit-keyframes slide-out {
    0% {       
        opacity: 30%;
    }
    100% {
        opacity: 100%;
        font-size: 10px;
        width: 100%;
        height: 100%;
    }
}
@-webkit-keyframes slide-in {
    0% {   
        opacity: 100%;
        font-size: 10px;
        width: 100%;
        height: 100%;    
       
    }
    100% {
         opacity: 30%;
    }
}


/*.contactus*/

.page-content .content {
    text-align: center;
}

.page-content .content .contactus-options {
    /*padding: 3px 3px;*/
    width: 100%;
    text-align: center;
    /** center the divs **/
    margin-bottom: 50px;
}

.page-content .content .contactus-options .contactus {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 130px;
    /* font-size: 12px; */
    /* text-align: left;                                                                                                                             */
    /*border: 1px solid rgba(0, 53, 95, 0.29);*/
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
    color: #00355f;
    padding: 25px 0px;
}

.page-content .content .contactus-options .contactus .text {
    margin-top: 2%;
    font-size: 20px;
}

.page-content .content .contactus-options .contactus span {
    font-size: 50px;
}

.page-content .content .client-info {
    background-color: #00355f;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 10px;
    padding: 20px 30px;
}

.mid-header {
    font-size: 20px;
    text-align: center;
}

.page-content .content .client-info .row {
    margin: 20px;
}

.page-content .content .client-info .row .text {
    width: 45%;
    display: inline-block;
}

.page-content .content .client-info .row .text label {
    float: right;
    margin-right: 5px;
    line-height: 20px;
    font-size: 20px;
}

.page-content .content .client-info .row .control {
    width: 45%;
    display: inline-block;
    display: relative;
}

.page-content .content .client-info .row .control .input {
    position: relative;
}

.page-content .content .client-info .row .control input {
    border-radius: 3px;
    border: none;
    background: rgb(245, 245, 245);
    color: #00355f;
    height: 30px;
    float: left;
    width: 60%;
}

.page-content .content .client-info .row .control .error-msg {
    position: absolute;
    /* left: 60%; */
    /* float: left; */
    background: rgba(255, 14, 0, 0.58);
    /* height: 30px; */
    /* line-height: 2; */
    border-radius: 3px;
    padding: 1px 5px;
    top: 17px;
    /* word-wrap: break-word; */
    /* width: 63%; */
    min-height: 20px;
    min-width: 60%;
    font-size: 14px;
    text-align: left;
}

.page-content .content .client-info .clientInfoTable {
    margin: auto;
    text-align: center;
    border: 1px solid rgba(245, 245, 245, 0.2);
    padding: 2%;
    border-radius: 8px;
}

.page-content .content .client-info .clientInfoTable .clientInfoButton {
    padding-left: 185px;
}

.page-content .content .client-info .clientInfoTable .clientInfoButton button {
    height: 25px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 4px;
}


/*.clientInfoTable .clientInfoButton button:hover
{
        background: rgb(255, 235, 146);
    
}*/


/*footer*/

footer {
    background-color: #00355f;
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;    
    font-size: 15px;
}

footer .footer-line {
    background-color: rgba(245, 245, 245, 0.50);
    height: 1px;
    width: 100%;
    position: absolute;
    margin-top: 1px;
}

footer .footer-content div {
    color: rgba(245, 245, 245, 0.70);
    margin-top: 15px;
    display: inline-table;
}

footer .footer-content a {
    margin-right: 10px;
       color: rgba(245, 245, 245, 0.70);
       text-decoration: none;
}

footer .footer-content a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

/*Font Styling*/
@font-face {
    font-family: 'ngh-dt';
    src: url('../Fonts/ngh-dt.eot?6fp3ju');
    src: url('../Fonts/ngh-dt.eot?6fp3ju#iefix') format('embedded-opentype'), url('../Fonts/ngh-dt.ttf?6fp3ju') format('truetype'), url('../Fonts/ngh-dt.woff?6fp3ju') format('woff'), url('../Fonts/ngh-dt.svg?6fp3ju#ngh-dt') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nghf {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ngh-dt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nghf.hover:hover {
    font-size: 60px;
    transition: font-size;
}

.ngh-rs::after {
    content: "\e906";
    font-size: 10px;
}

.ngh-phone:before {
    content: "\e900";
}

.ngh-contact:before {
    content: "\e900";
}

.ngh-automobile:before {
    content: "\e901";
}

.ngh-car:before {
    content: "\e901";
}

.ngh-phone_in_talk:before {
    content: "\e902";
}

.ngh-people::after {
    content: "\e903";
}

.ngh-facebook:before {
    content: "\e904";
}

.ngh-brand:before {
    content: "\e904";
}

.ngh-social:before {
    content: "\e904";
}

.ngh-mail:before {
    content: "\e905";
}

.ngh-contact2:before {
    content: "\e905";
}

.ngh-support:before {
    content: "\e905";
}

.ngh-newsletter:before {
    content: "\e905";
}

.ngh-letter:before {
    content: "\e905";
}

.ngh-email:before {
    content: "\e905";
}

.ngh-envelop:before {
    content: "\e905";
}

.ngh-social2:before {
    content: "\e905";
}


/*Device Specific*/
@media (max-width:800px) {
    .cabsList {
        width: 100%;
        font-size: 10px;
    }
    .cabsList h1{
        font-size: 20px;
    }
    .cabsList .cabs-repeat .cab-details .cab-rate button{
            height: 20px;
    width: 50px;
    min-height: 20px;
    min-width: 50px;
    font-size: 12px;
    padding: 0px 0px;
    }
}

@media (max-width:677px) {
    .cabsList .cabs-repeat{
        padding: 3px 10px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-desc {
        width: calc(100% - 150px);
        border: 0;
        padding: 0 20px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-rate {
        width: calc(100% - 150px);
        padding: 0 20px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-desc p {
        margin: 0;
        margin-bottom: 5px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-rate .nghf {
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

@media(max-width:450px) {
    .cabsList .cabs-repeat {
        font-size: 10px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-img {
        width: 100px;
        height: 85px;
    }
    .cabsList .cabs-repeat .cab-details .cab-img>img{
        height: 67px;
    } 
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-desc {
        width: calc(100% - 100px);
        border: 0;
        padding: 0 0px 0 10px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description>.cab-rate {
        width: calc(100% - 100px);
        padding: 0 0px 0 10px;
    }
}

@media (max-width:600px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .mainheader {
        height: 90px;
    }
    .mainheader .logo {
        width: 50%;
        margin: auto;
        position: inherit;
        top: 0;
    }
    .nav
    {
       height: 45px;
    }
    .nav .navlist {
        position: absolute;
        top: 36px;
        padding: 0;
    }
    .nav .navlist li a:hover {
        border-bottom: none;
    }
    .nav .navlist li:hover,
    .nav .navlist .select {
        border-bottom: 4px solid #00355f;
        transition: border-bottom 0.5s;
        border-radius: 2px;
    }
    .nav .navlist .select .select {
        border-bottom: none;
    }
    .nav .navlist li {
        font-size: 14px;
        line-height: 30px;
    }
    .cabimages,
    .tourimages {
        display: none;
    }
    .enquiryform {
        top: 2%;
        width: 100%;
        left: 0%;
    }
    .enquiryform .enquirycontrol .control-group {
        padding: 0px;
        margin: 15px 0;
    }
    .enquiryform .enquirycontrol .control-group .control {
        display: block;
        width: 90%;
        left: 5%;
        padding: 10px 5%;
    }
    .enquiryform .enquirycontrol .control-group .control .inputcontrol select {
        width: 100%;
        height: 27px;
    }
    .enquiryform .enquirycontrol .control-group .control .inputcontrol .error-msg {
        min-width: 100%;
    }
    /*Cab Services*/
    /*.cabsList .cabs-repeat {
        padding: 2px 2px;
        width: 90%;
        height: 10%;
    }
    .cabsList .cabs-repeat p {
        margin: 0px 0px;
        font-size: 10px;
    }
    .cabsList .cabs-repeat .cab-details .cab-description .cab-rate {
        float: right;
    }*/

    /*About Us*/
   .page-content .aboutus{
    width: 100%;
    padding: 10px;
     margin-left: 0px; 
    text-align: justify;
   }

   .page-content .aboutus p{
       font-size: 10px;
   }
 .page-content .aboutus .service .content
{
    width: 90%;
        margin: 5px 0px 0px 0px;
            height: 110px;

}
.page-content .aboutus .service
{
    overflow: hidden;
}
    /*Contact Us*/

    .page-content .content h1, .page-content .aboutus h1{
            font-size: 20px;
    }
    .page-content .content .contactus-options {
        margin-bottom: 20px;
        height: 80px;
    }
     .page-content .content .contactus-options .contactus{
         height: none;
     }
    .page-content .content .contactus-options .contactus span {
        font-size: 30px;
    }
    .page-content .content .contactus-options .contactus .text {
        font-size: 8px;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo .row .text {
        width: 100%;
        display: inline-block;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo {
       padding: 1px 0px;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo .mid-header{
        margin: 10px;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo .row {      
    margin: 25px 5px;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo .row .text label {
        float: left;
    }
    .page-content .content .client-info .clientInfoTable .clientInfo .row .control,
    .page-content .content .client-info .clientInfoTable .clientInfo .row .control input {
        width: 100%;
    }
    .page-content .content .client-info{
        padding: 1% 5%;
    }
    .page-content .content .client-info .row .control .error-msg{
        width: 100%;
    }
    
    .page-content .content .client-info .clientInfoTable .clientInfoButton {
        padding-left: 0px;
    }

    /*Footer*/

    footer .footer-content{
        padding: 5px 1px;
        font-size: 12px;
    }
    footer .footer-content div {
    margin-top: 5px;
    }
    
}

@media (max-width:950px) and (min-width:600px) {
    .enquiryform {
        top: 36%;
        width: 90%;
        left: 5%;
    }
}

@font-face {
  font-family: 'dt2';
  src:  url('../Fonts/dt2.eot?2rx4wa');
  src:  url('../Fonts/dt2.eot?2rx4wa#iefix') format('embedded-opentype'),
    url('../Fonts/dt2.ttf?2rx4wa') format('truetype'),
    url('../Fonts/dt2.woff?2rx4wa') format('woff'),
    url('../Fonts/dt2.svg?2rx4wa#dt2') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nghff {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dt2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nghff-palace:before {
  content: "\e900";
}
