<div class="page-content" *ngIf="this.APIService.LoadPage">
    <div class="cabsList">
        <h1>Pick your cab</h1>
        <div class="cabs-repeat" *ngFor="let cab of cabObject">
            <div class="cab-details">
                <div class="cab-name">{{cab.Title}}</div>
                <div class="cab-description">
                    <div class="cab-img">
                        <img src=""/>
                    </div>
                    <div class="cab-desc">
                        <p class="">{{cab.ShortDescription}}</p>
                        <p class="nghf ngh-people">Seating Capacity : {{cab.Capacity}}</p>
                    </div>
                    <div class="cab-rate">
                        <p class="nghf">Cost per km : <span class="ngh-rs"></span>{{cab.CostPerKilometer}}</p>
                        <div class="button-request">
                            <button (click)="SubmitRequest()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>