<div class="page-content">
    <form [formGroup]="enquiryForm" id="enquiryForm">

        <div class="movingcontent">
            <div>
                <p>Feeling crazy over text....</p>
            </div>
        </div>
        <div class="home">
            <div class="homeimageone">
                <img id="cab" src="F:\Hemanth\Learn\simplesavari\images\slider1.jpg">
                <div class="image-text left">
                    <p> This is regarding image 10</p>
                </div>
            </div>

            <div class="homeimagetwo">
                <img id="tour" src="F:\Hemanth\Learn\simplesavari\images\slider21.jpg">
                <div class="image-text right">
                    <p> This is regarding image 20</p>
                </div>
            </div>
            <div class="enquiryform" novalidate>
                <div class="enquirytype">
                    <div [ngClass]="{'select':IsCabRequest}" (click)="ToggleService('CAB')">Taxi Service</div>
                    <div [ngClass]="{'select':!IsCabRequest}" (click)="ToggleService('TRIP')">Tour Package</div>
                </div>
                <div class="enquirycontrol">
                    <div class="control-group">
                        <div class="control">
                            <label class="controlname">Full Name</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.FullName.errors}" type="text" formControlName="FullName" placeholder="Your Full Name"
                                />
                                <p class="error-msg" *ngIf="enquiryForm.controls.FullName.errors">{{enquiryForm.controls.FullName.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control">
                            <label class="controlname">Phone Number</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.PhoneNumber.errors}" type="text" formControlName="PhoneNumber" placeholder="Your Phone Number"
                                />
                                <p class="error-msg" *ngIf="enquiryForm.controls.PhoneNumber.errors">{{enquiryForm.controls.PhoneNumber.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control">
                            <label class="controlname">Date</label>
                            <div class="inputcontrol">
                                <input type="date" name="bday" formControlName="TravelDate" />
                                <p class="error-msg" *ngIf="enquiryForm.controls.TravelDate.errors">{{enquiryForm.controls.TravelDate.errors.message}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control" *ngIf="IsCabRequest">
                            <label class="controlname">From</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.Cab_FromPlace.errors}" type="text" name="Cab_FromPlace" formControlName="Cab_FromPlace"
                                    placeholder="Your Location" />
                                <p class="error-msg" *ngIf="enquiryForm.controls.Cab_FromPlace.errors">{{enquiryForm.controls.Cab_FromPlace.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control" *ngIf="IsCabRequest">
                            <label class="controlname">To</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.Cab_ToPlace.errors}" type="text" formControlName="Cab_ToPlace" placeholder="Your Destination"
                                />
                                <p class="error-msg" *ngIf="enquiryForm.controls.Cab_ToPlace.errors">{{enquiryForm.controls.Cab_ToPlace.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control" *ngIf="!IsCabRequest">
                            <label class="controlname">Number of Days</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.Trip_NumberOfDays.errors}" type="text" formControlName="Trip_NumberOfDays"
                                    placeholder="Number of days" />
                                <p class="error-msg" *ngIf="enquiryForm.controls.Trip_NumberOfDays.errors">{{enquiryForm.controls.Trip_NumberOfDays.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control" *ngIf="!IsCabRequest">
                            <label class="controlname">Places</label>
                            <div class="inputcontrol">
                                <input [ngClass]="{'Error': enquiryForm.controls.Trip_Places.errors}" type="text" formControlName="Trip_Places" placeholder="Places"
                                />
                                <p class="error-msg" *ngIf="enquiryForm.controls.Trip_Places.errors">{{enquiryForm.controls.Trip_Places.errors.message}}</p>
                            </div>
                        </div>
                        <div class="control">
                            <label class="controlname">Your Taxi</label>
                            <div class="inputcontrol">

                                <select [ngClass]="{'Error': enquiryForm.controls.Vehicle.errors}" type="" id="NONAC" name="CabID" placeholder="" formControlName="Vehicle">
                                    <option value="">-Select-</option>
                                    <option value="Innova">NONAC A</option>
                                    <option value="Swift">NONAC B</option>
                                    <option value="Benz">NONAC C</option>
                                    <option value="Audi">NONAC D</option>
                                </select>

                                <p class="error-msg" *ngIf="enquiryForm.controls.Vehicle.errors">{{enquiryForm.controls.Vehicle.errors.message}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="control-group">
                        <button (click)="SubmitEnquiryRequest('CLEAR')">Clear</button>
                        <button (click)="SubmitEnquiryRequest('SUBMIT')">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>